<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.BoothMapper">
  <resultMap id="BaseResultMap" type="com.demo.entity.Booth">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_type" jdbcType="TINYINT" property="productType" />
    <result column="booth_type" jdbcType="TINYINT" property="boothType" />
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from booth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.entity.Booth">
    insert into booth (id, product_type, booth_type, 
      num)
    values (#{id,jdbcType=INTEGER}, #{productType,jdbcType=TINYINT}, #{boothType,jdbcType=TINYINT}, 
      #{num,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.demo.entity.Booth">
    update booth
    set product_type = #{productType,jdbcType=TINYINT},
      booth_type = #{boothType,jdbcType=TINYINT},
      num = #{num,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, product_type, booth_type, num
    from booth
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_type, booth_type, num
    from booth
  </select>
</mapper>